
.maxWidth-1600
{
    max-width:1600px
}

.h-50vh{
   height:50vh;
}

.backgroundImage1{
    background-image: url('../Images/1.jpg');
    background-attachment: scroll;
}
.backgroundImage2{
   background-image: url('https://www.bing.com/images/search?view=detailV2&ccid=wj0nNT4h&id=A003A343EF2F1662B134288F07018F6E101E0940&thid=OIP.wj0nNT4hzhN39C-GWxyTvAHaE9&mediaurl=https%3a%2f%2f4.bp.blogspot.com%2f-uBIbx2r_z_M%2fUFkTkfxC7EI%2fAAAAAAAAQoo%2ffqgy4OreRWA%2fs1600%2fDusky%2bDolphins5.jpg&exph=1071&expw=1600&q=Dolphins&simid=608015258649457852&ck=82AAC125CEE5EFC6E5B7E895A539D357&selectedIndex=0&FORM=IRPRST&ajaxhist=0&ajaxserp=0');
                         
}

.backgroundImage3{
    background-image: url('https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80')
                           
}