.sideNavbarWrapper {
  float: left;
  width: 20%;
  margin: 0 88px;
}

.sidenav li {
  width: 50%;
  transition: 0.5s ease-in-out;
}

.sideNavbarWrapper #toggle-button{
display: none;
}


@media screen and (max-width:600px){
  
  .sideNavbarWrapper { 
    float: none;
    width: 20%;
    margin: 0px 30px  ; 
  }
  .sideNavbarWrapper #toggle{
    display: none;
  }
  
.sideNavbarWrapper #toggle-button{
  display: block;
  }

  #mobile{
    width: 100%;  
  }
  #mobile ul li{
    width: 200%; 
    padding: 1px 4px;
    border: none;
  }
  .order{
    width: 90%;
    margin: 0px 16px;
  }

  .manageAddressButton{
    margin-top: 1rem;
    justify-content: left;
  }
}